@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
    transition: all 0.1s ease-in-out;
    /*outline: 1px solid purple;*/
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
h1, h2 {
    margin: 4px;
}

table {
    border: 1px solid black;
    height: 100%;
    width: 100%;
}
td {
    height: 40%;
}

#tabContainer {
    background-color: #E0E0E0;
    width: 15%;
    vertical-align: top;
    text-align: center;
    padding: 2px 0;
}

#tabContainer button {
    background-color: #C7C7C7;
    border: 0;
    width: 97%;
    min-height: 35px;
    margin: 2px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#tabContainer button:hover, #tabContainer button.active {
    background-color: #BBBBBB;
}

button {
    background-color: #E0E0E0;
    width: 50%;
    min-height: 30px;
    margin: 3px;
    padding: 2px;
    border-radius: 2px;
}
button:hover {
    background-color: #C7C7C7;
}

#mainContainer {
    width: 60%;
    overflow-y: auto;
    overflow-x: hidden;
    vertical-align: top; 
    padding: 10px;
}
#mainContainer button {
    margin: 2px;
    min-height: 35px;
}

#sideContainer {
    background-color: #E0E0E0;
    width: 600px;
    height: 650px;
    overflow-y: scroll;
    overflow-x: hidden;
    vertical-align: top;
}

#inventory {
    border-collapse: collapse;
    border: none;
}
#inventory td {
    vertical-align: top;
}
#inventory button {
    width: 55px;
    height: 55px;
    border-radius: 5px;
    padding: 1px;
    margin: 1px;
}
#inventoryTabs {
    border-collapse: collapse;
    border: none;
    text-align: center;
    height: 55px;
}

#inventoryTabs button {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.fight {
    background-color: red;
}

#progressBar {
    position: relative;
    width: 99%;
    text-align: center;
    background-color: #ddd;
    height: 15px;
    display: block;
    margin: 5px auto;
    border-radius: 5px;
}
#progress {
    height: 100%;
    width: 100%;
    background-color: #4caf50;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 0.3s ease;
    border-radius: 5px;

    transition: all 0.1s;
}
#progressText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: max-content;
    text-align: center;
    pointer-events: none;
    font-size: 12px;
}

#infoContainer {
    background-color: #E0E0E0;
    width: 100%;
    max-height: 300px;
    overflow-y: hidden;
    overflow-x: hidden;
    vertical-align: top; 
    padding: 4px;
}



.expBarContainer {
    margin-top:4px; 
    width: 90%; 
    height: 24px; 
    background: #ccc; 
    border-radius: 8px; 
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.expBar {
    height: 100%; 
    width: 40%; 
    background: linear-gradient(90deg, #4caf50, #8bc34a); 
    border-radius: 8px;
}
.expBarText {
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    color: #222; 
    font-weight: bold;
    pointer-events: none;
    user-select: none;
}

#crafting button {
    width: 55px;
    height: 55px;
    border-radius: 3px;
}
#crafting img {
    width: 55px;
    border-radius: 3px;
}